@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    margin: 0;
    /* background-image: url(https://images.unsplash.com/photo-1596120717633-dabb19da51f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
    background-size: cover; */
    background-color: black;
    width: 100vw;
}

#wrapper {
    /* border: 1px solid #000; */
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'hd'
    'main'
    'ft';
    }

header {
    grid-area: hd;
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(10px);
    /* clip-path:; */
    display: flex;
    margin-bottom: 2vh;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 2px solid white;
}

/* header h1{
    font-family: 'Source Code Pro';
    margin-left: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
} */

header img{
    margin: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}

nav{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    margin-inline: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Source Code Pro';
}

main {
    grid-area: main;
    background-image: url(https://images.unsplash.com/photo-1488763882255-3c188b9ff4d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.block{
    border-radius: 2px stroke white;
    width: 80vw;
    height: 50vh;
    min-height: 30vh;
    background-color: red;
    margin:75px;
    padding: 2vh;
    display: flex;
    border-radius: 15px;
}

.block .TI {
    display: flex;
    flex-direction: column;
}

.block img {
    height: 40vh;
    
}

.pt {
   font-family: 'Source Code Pro';
   font-size: larger;
}

.ct {
    display: flex;
    float: left;
    padding-inline:2vh;
    padding-top: 6vh;
    font-family: 'Source Code Pro'; 
}

#b1 {
    background: rgb(54,70,73);
    background: linear-gradient(225deg, rgba(54,70,73,1) 0%, rgba(112,143,150,1) 100%);
}

#b2{
    background: rgb(112,143,150);
background: linear-gradient(135deg, rgba(112,143,150,1) 0%, rgba(170,137,95,1) 100%);
}

#b3{
    background: rgb(170,137,95);
    background: linear-gradient(225deg, rgba(170,137,95,1) 0%, rgba(224,216,204,1) 100%);
}
/* .blockorder {
    margin-top: 75px ;
} */

.background{
    height: fit-content;
}

#lpmain {
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1531604250646-2f0e818c4f06?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);
    background-size: cover;
    padding: auto;
}

#nameblock img{
    height: 10vh;
    margin: 2vh;
    display: flex;
    align-self: flex-end;
}
#nameblock{
    border-radius: 2px stroke white;
    width: 80vw;
    height: 70vh;
    min-height: 30vh;
    margin: 75px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    /*background: rgb(255,202,201);*/
    background: linear-gradient(315deg, rgba(255,202,201,1) 0%, rgba(115,125,254,1) 100%);
}

.ltt {
    font-family: 'Source Code Pro';
    font-size: xx-large;
}

.lpt{
    font-family: 'Source Code Pro';
    font-size: x-large;
}

footer {
    grid-area: ft;
    background-color: black;
    height: 100%;
    display: flex;
    max-width: 100%;
}

footer img{
    height: 100px;
    padding: 2%;
}

@media screen and (max-width: 790px) {

    header{
        position: relative;
        display: block;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
    }

    #hamburger {
        /* border: 1px solid #000;  */
        height:1.5rem;
        width: 2.5rem; 
        position:absolute;
        top:1.3rem;
        right:0.7rem;
        
    }

    #hamburger div {
        border: 1px solid white;
        margin: 0.4rem;
    }
    
    nav {
        justify-content: flex-start;
        max-height: 0;
        overflow: hidden;
        /* background-color: rgba(255, 255, 255, 0.15);  
        backdrop-filter: blur(10px); */
    }

    nav.active {
        max-height: 1000px;
    }

    nav ul {
        display: block;
        padding:0;
        text-align: flex-start;
    }

    nav ul li {
        text-align: flex-start;
        margin-left: 2vh;
    }

    #nameblock {
        margin-inline: 10px;
        width: 90vw;
    }

    .block{
        margin-inline: 10px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .block .TI img{
        width: fit-content;
        max-width: 90vw;
        display: flex;
        justify-content: space-evenly;
    }

    .ct {
        display: flex;
        float: left;
        padding-inline:2vh;
        padding-top: 1vh;
        font-family: 'Source Code Pro'; 
    }
}