/* Denna fil skall innehålla din CSS kod */
body{
    margin: 0;
    background-color: black;
}

#wrapper {
    border: 1px solid #000;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'hd'
    'main'
    'ft';
    }

header {
    grid-area: hd;
    background-color: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(10px);
    display: flex;
    margin-bottom: 2vh;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 2px solid white;
}

header h1{
    margin-left: 2vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-family: 'Poiret One';
}

nav{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
    margin-inline: 0.5rem;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    text-decoration: underline;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: 'Poiret One';
}

main {
    grid-area: main;
    background-image: url(https://images.unsplash.com/photo-1488763882255-3c188b9ff4d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    display: flex;
    justify-content: center;
}

.block{
    border-radius: 2px stroke white;
    width: 80vw;
    height: 50vh;
    min-height: 30vh;
    background-color: red;
    margin:75px;
    display: flex;
    border-radius: 15px;
}

#b1 {
    background: rgb(54,70,73);
    background: linear-gradient(225deg, rgba(54,70,73,1) 0%, rgba(112,143,150,1) 100%);
}

#b2{
    background: rgb(112,143,150);
background: linear-gradient(135deg, rgba(112,143,150,1) 0%, rgba(170,137,95,1) 100%);
}

#b3{
    background: rgb(170,137,95);
    background: linear-gradient(225deg, rgba(170,137,95,1) 0%, rgba(224,216,204,1) 100%);
}
.blockorder {
    margin-top: 75px ;
}

.background{
    height: fit-content;
}
footer {
    grid-area: ft;
    background-color: #edccff;
}

@media screen and (max-width: 666px) {

    header{
        position: relative;
        display: block;
        position: fixed;
        top:0;
        left:0;
        width: 100%;
    }

    #hamburger {
        /* border: 1px solid #000;  */
        height:1.5rem;
        width: 2.5rem; 
        position:absolute;
        top:1.3rem;
        right:0.7rem;
        
    }

    #hamburger div {
        border: 1px solid white;
        margin: 0.4rem;
    }
    
    nav {
        justify-content: flex-start;
        max-height: 0;
        overflow: hidden;
        background-color: #000;
        background-color: rgba(255, 255, 255, 0.15);  
        backdrop-filter: blur(10px);
    }

    nav.active {
        max-height: 1000px;
    }

    nav ul {
        display: block;
        padding:0;
        text-align: flex-start;
    }

    nav ul li {
        text-align: flex-start;
        margin-left: 2vh;
    }
}